@main("SpobiloRepStorm") {
    <button id="toggle">Start annoying people</button>

    <script type="text/javascript">
        $(function() {
            var started = false;
            $('#toggle').click(function() {
                if(started) {
                    $.post('/stopAlarm');
                    started = false;
                    $(this).html("Start annoying people");
                } else {
                    $.post('/startAlarm');
                    started = true;
                    $(this).html("Stop annoying people");
                }
            });
        });
    </script>
}